<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Booking</title>
  </head>
  <body>Tanggal Pemesanan<br>
    <table style="width: 140px; height: 34px;" border="1">
      <tbody>
        <tr>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    Jumlah Kamar<br>
    <table style="width: 59px; height: 36px;" border="1">
      <tbody>
        <tr>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
