<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>IDPelanggan</title>
  </head>
  <body>Nama Pelanggan<br>
    <table style="width: 606px; height: 35px;" border="1">
      <tbody>
        <tr>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    Nomor HP<br>
    <table style="width: 312px; height: 35px;" border="1">
      <tbody>
        <tr>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    Alamat<br>
    <table style="width: 587px; height: 84px;" border="1">
      <tbody>
        <tr>
          <td><br>
            <br>
            <br>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
