<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>KamarOrder</title>
  </head>
  <body>
    <p><em><strong>==Pemesanan Kamar===</strong></em></p>
    <p><b><br>
      </b></p>
    <table style="width: 406px; height: 134px;" border="1">
      <tbody>
        <tr>
          <td>
            <table style="width: 100%;" border="1">
              <tbody>
                <b>
                </b>
                <tr align="center">
                  <td><strong>Tipe Kamar</strong> :</td>
                </tr>
              </tbody>
            </table>
          </td>
          <td style="text-align: center;"><strong>Jumlah</strong></td>
          <td>HargaKamar</td>
        </tr>
        <tr>
          <td style="width: 119.533px;">Single Bed</td>
          <td style="width: 157.15px;"><br>
          </td>
          <td>@Rp 350.000</td>
        </tr>
        <tr>
          <td>Twin Bed</td>
          <td><br>
          </td>
          <td>@Rp 400.000</td>
        </tr>
      </tbody>
    </table>
    <p><br>
    </p>
    <cite></cite>
  </body>
</html>
